* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #f5f6fa;
    color: #3e3e3e
}

a {
    text-decoration: none
}

ul,
li {
    list-style: none;
}


/*general*/

.line {
    margin-bottom: 15px
}

.w-50 {
    width: 50%
}

.w-60 {
    width: 60%
}


/* titles */

h1 {
    color: #3e3e3e;
    font-size: 25px;
    margin-bottom: 50px
}

h2 {
    color: #0f70b4;
    font-size: 20px;
}

h3 {
    color: #636363;
    font-size: 18px;
}

h4 {
    font-size: 15px;
    margin-bottom: 10px;
}


/* btns */

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: #41b9af;
    font-size: 14px;
    border-radius: 30px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
}

.btngoogle {
    display: inline-block;
    cursor: pointer;
    background: #c83427 url(../img/googlebtn.png) no-repeat left 20px center / auto 50%;
    font-size: 14px;
    border-radius: 30px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    width: 80%
}

.btn.btn-highlight {
    box-shadow: 1.871px 8.803px 18px 0px rgba(83, 92, 118, 0.26);
}

.btn.btn-level2 {
    background-color: #fff;
    border: 1px solid #41b9af;
    color: #41b9af;
}

.btn.btn-level2:hover {
    background-color: #bfdcda;
}


/*.btn.btn-copy {
    padding: 15px 30px;
    background-color: #bfdcda;
    background: url("../img/icon_copy.png") no-repeat center center;
}*/

.btn.btn-copy:hover {
    background-color: #bfdcda;
    background: url("../img/icon_copy_hover.png") no-repeat center center;
}

.btn b {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.btn.btn-grey {
    background-color: #f5f6fa;
    color: #c7cad6
}

.btn.btn-grey:hover {
    background-color: #41b9af;
    color: #fff
}

.btn b img {
    width: 16px;
    display: block;
}

.btn:hover {
    background-color: #04b4a5;
    color: #fff;
}

.btn.btn-highlight:hover {
    box-shadow: none;
}

.btn-nav {
    display: inline-block;
    background-color: #fff;
    padding: 15px 20px;
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    color: #3e3e3e;
    font-weight: bold;
    border-radius: 5px;
}

.btn-nav.back-nav {
    opacity: 0.9;
    border: none;
    background-color: transparent
}

.btn-nav-less {
    border: none;
    background-color: transparent
}

.btn-nav:hover,
.btn-nav.active {
    color: #fff;
    background-color: #3679b9;
}

.btn-small {
    padding: 10px;
    font-size: 12px;
    padding: 7px 7px;
}

.btn-vsmall {
    padding: 3px 15px;
}

.btn-small b {
    margin: 0
}

.btn-small span {
    font-weight: normal;
    padding: 10px
}

.btn-small.btn b img {
    width: 20px;
    display: block;
}

.btn.btn-level2.btn-disabled {
    border: 1px solid #c7cad6;
    color: #c7cad6;
}

.link {
    color: #0f70b4
}

.delete {
    width: 15px;
    height: 15px;
    background: url(../img/delete.png) no-repeat center center;
    display: inline-block;
    padding: 20px;
}

.plus {
    width: 16px;
    height: 15px;
    background: url(../img/plus.png) no-repeat center center / cover;
    display: inline-block;
}

.btn-nav.btn-dot::before {
    content: '.';
    width: 7px;
    height: 7px;
    background-color: #5496c7;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%;
}

.btn-nav.btn-dot.replied::before {
    background-color: #5496c7
}

.btn-nav.btn-dot.notreplied::before {
    background-color: #f6b223
}

.btn-nav.btn-dot.skipped::before {
    background-color: #e62d55
}

.btn-nav.btn-dot.assigned::before {
    background-color: #41b9af
}

.btn-nav.btn-small {
    font-size: 12px;
    padding: 3px;
}

.btn-nav.btn-dot::before {
    margin-right: 5px;
}

.btn-group {
    display: inline-flex;
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.11);
    /*overflow: hidden;*/
}


/* toggle */

.btn-group .toggle {
    display: block;
    font-weight: 100;
    text-transform: uppercase;
    padding: 15px 20px;
    background: none
}

.btn-group-small .toggle {
    padding: 10px 10px;
    cursor: pointer
}

.btn-group .toggle:first-child {
    border-radius: 5px 0 0 5px
}

.btn-group .toggle.active,
.btn-group .toggle:hover {
    background-color: #8fbd55;
    color: #fff;
}

.noHover {
    pointer-events: none;
}

.btn-group>.toggle+.toggle {
    border-left: 1px solid rgb(226, 230, 239)
}

.btn-group.btn-group-full {
    display: flex;
}

.btn-group.btn-group-full .toggle {
    flex-grow: 1;
}

.closePage {
    background: url(../img/close.svg) no-repeat center center / cover;
    display: block;
    width: 25px;
    height: 25px;
    font-size: 0
}


/* tag */

.tag {
    color: #c7cad6;
    font-size: 12px;
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    margin: 2px;
    border-radius: 15px;
    display: inline-block;
}

.tag .delete {
    display: inline-block;
    background: url(../img/small-delete.png) no-repeat;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin: 0 0 0 5px;
    padding: 0;
}

.tag-edit {
    display: inline-block;
    color: #c7cad6;
    border-radius: 15px;
    font-size: 11px;
    padding: 5px 20px 5px 10px;
}

.tag-edit:hover {
    background: url(../img/small-delete.png) no-repeat right 5px center;
    background-color: #f5f6fa
}


/*stickers*/

.sticker {
    font-size: 11px;
    color: #fff;
    background-color: #5a5b5c;
    border-radius: 12px;
    display: inline-block;
    padding: 5px 20px;
    margin: 0 5px;
    line-height: 12px;
}

.sticker.stick-warning {
    background-color: #d74561;
}

.sticker.stick-soft {
    background-color: #eeb24a;
}

.sticker.stick-nbr {
    background-color: #cce7e8;
    color: #43b7ae;
    padding: 5px 10px
}


/* box */

.box {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 21px 0px rgba(83, 92, 118, 0.17);
    margin-bottom: 20px;
    overflow: hidden;
}

.box-tag {
    margin-bottom: 10px
}

.centeredBox {
    max-width: 450px;
    margin: 0 auto 20px auto;
}

.centeredBox .wrapSubmit {
    padding-top: 0
}

.centeredBox .wrapSubmit .btn {
    width: 80%
}

.centeredBox .box-footer {
    text-align: center;
}

.centeredBox .box-footer a {
    color: #0f70b4
}

.box .box-title {
    background-color: #fafbff;
    padding: 15px 20px;
    border-bottom: 1px solid #e2e6ef;
    overflow: hidden;
}

.box .box-subTitle {
    background-color: #fafbff;
    padding: 20px;
    border-bottom: 1px solid #e2e6ef;
    border-top: 1px solid #e2e6ef;
    overflow: hidden;
}

.box .box-subTitle h2 {
    font-size: 15px;
    display: inline-block
}

.box .box-subTitle .wrap-socials {
    display: inline-block
}

.centeredBox .box-title {
    text-align: center;
}

.box .box-inside {
    padding: 20px;
    width: 100%;
}

.box-subTitle.box-subTitleFilters h2 {
    font-size: 18px;
}

.box-subTitle .selectWrap {
    display: inline-block;
}

.box-subTitle .filter-select {
    display: inline-block;
    padding: 0 20px;
}

.box-subTitle .search-loc {
    float: right;
}

.box .box-inside.b-inside-highlighted {
    padding: 30px 20px;
    box-shadow: 0px 4px 7px 0px rgba(1, 2, 2, 0.07);
}

.box .box-footer {
    background-color: #fafbff;
    padding: 20px;
    border-top: 1px solid #e2e6ef;
}

.box .box-footer h3 {
    display: inline-block;
    margin-right: 40px;
}

.boxlined {
    border-width: 1.5px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.boxflex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.boxflex .aside-left {
    align-self: center;
}

.boxflex .aside-left {
    align-self: center;
}

.boxlined:after {
    content: '.';
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
    font-size: 0;
}

.boxlined.success {
    border: 1px solid #8fbd55;
}

.boxlined.error {
    border: 1px solid #d74561;
}

.boxlined.waiting {
    border: 1px solid #1379c2
}

.boxlined p {
    display: inline-block;
    vertical-align: middle
}

.boxlined .ico {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}

.wrapSubmitGoogle {
    text-align: center;
    padding-bottom: 30px;
}

.wrapSubmitGoogle span {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.filtLine {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    padding: 0 15px;
}


/* table */

.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table td,
.table th {
    text-align: left;
    padding: 20px
}

.table td.actions,
.table th.actions {
    text-align: right;
}

.table td.actions a {
    vertical-align: middle
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.table thead tr {
    background-color: #f6f6f6!important
}

table td .options {
    margin-left: -5px;
    margin-top: 7px;
}

table .warning-line td {
    background-color: #ffc053
}

table .danger-line td {
    background-color: #ff6353
}


/* forms */

label {
    display: block;
    width: 100%;
    color: #3e3e3e;
    margin-bottom: 10px
}

.mainLabel {
    font-weight: bold;
    display: inline-block
}

.wrap-label {
    display: flex;
    margin-bottom: 10px
}

.wrap-label label {
    align-self: center;
    margin: 0 0 0px 10px
}

.wrap-label .btn-group {
    align-self: center;
}

input[type="date"],
input[type="datetime-local"],
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    border-width: 1.22px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(245, 246, 250, 0.459);
    box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
    display: block;
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    color: #333;
}

input.euro {
    background-image: url(../img/euro.png);
    background-position: right 20px center;
    background-repeat: no-repeat
}

input.inlineinput {
    width: auto;
    display: inline-block
}

input.hourinput {
    width: 70px;
    margin: 0 10px;
}

input.highlighted {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(145, 145, 145);
    border-radius: 5px;
}

input::placeholder {
    opacity: 0.5;
}

input.calendar {
    background: url(../img/icon-calendar.png) no-repeat right 20px center / auto 56%
}

input[type="password"] {
    background: rgba(245, 246, 250, 0.459) url(../img/lock.svg) no-repeat right 20px center / auto 56%
}

input.search {
    background: url(../img/icon-search.png) no-repeat right 20px center / auto 56%
}

input.simplesearch {
    background: transparent url(../img/icon-search.png) no-repeat right 20px center / auto 56%;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 10px;
}

.max-caract {
    display: block;
    text-align: right;
    margin: 10px 0 -10px 0;
    font-size: 11px;
}

*:focus {
    outline: none;
}

.search-loc {
    display: inline-block
}

textarea {
    min-height: 300px
}

.wrapSpecialSelect {
    display: inline-block;
    position: relative
}

.selectWrap {
    padding: 10px 23px;
}

.selectWrap input {
    margin-right: 10px
}

.wrapSpecialSelect .selectlist {
    position: absolute;
    top: 20px;
    width: 130%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    left: 0;
    border-radius: 5px;
    display: none
}

.wrapSpecialSelect .selectlist li {
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px solid #ccc
}

.wrapSpecialSelect .selectlist li a {
    color: #3e3e3e
}

.wrapSpecialSelect .selectlist ul>li li {
    border: none
}

.wrapSpecialSelect .selectlist.opened {
    display: block
}

.selectlist .sublist {
    padding-left: 10px;
    padding-top: 5px
}

.select {
    border-width: 1.22px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    border-radius: 5px;
    background-color: rgba(245, 246, 250, 0.459);
    background: url(../img/select-arrow.png) no-repeat right 20px center / 10px;
    box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.07);
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    min-width: 200px;
}

.multiple {
    background: none;
}

.select-highlighted {
    background: #3679b9 url(../img/select-arrow-white.png) no-repeat right 20px center / 10px;
}

.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-height: 38px;
    width: 100%;
    border: none;
    margin: 0;
    background: transparent;
    font-size: 15px;
}

.select.select-highlighted select {
    color: #fff
}

.select-type {
    background: url(../img/select-arrow.png) no-repeat right 0px center / 10px;
    padding-right: 20px;
    display: inline-block;
    color: #3e3e3e
}

.select-highlighted {}


/* on off checkbox */

.onOff-wrap {
    display: inline-block;
    margin: 0 20px
}

.cbOnOff {
    display: inline-block
}

.cbOnOff i {
    display: inline-block;
    color: #3e3e3e;
    opacity: 0.7;
    font-size: 13px
}

.cbOnOff .toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    margin: 0
}

.cbOnOff .toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #ccc;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.cbOnOff .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(#ccc, 0.5);
    transition: all .2s ease;
    box-shadow: 0px 0px 4px 0px rgba(1, 2, 2, 0.48);
}

.cbOnOff .toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(#4F2EDC, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked+.toggle:before {
    background: #8fbd55
}

#cbx:checked+.toggle span {
    transform: translateX(20px);
    transition: all .2s cubic-bezier(.8, .4, .3, 1.25);
    transition: all .15s ease;
    box-shadow: 0 3px 8px rgba(#4F2EDC, .2)
}

.cbOnOff span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}


/* socials */

.social-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    position: relative;
    margin: 2px;
    vertical-align: middle;
}

a.social-icon:hover {
    opacity: 0.7;
}

.social-icon img {
    display: block;
    width: 100%
}

.social-icon.disabled img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6
}

.social-icon.waiting:after {
    content: '-';
    background: url(../img/icon-waiting.png) no-repeat center center / cover;
    right: -4px;
    top: -5px;
    position: absolute;
    width: 16px;
    height: 16px;
    filter: none;
    font-size: 0;
}

.social-icon.warning:after {
    content: '-';
    background: url(../img/icon-warning.png) no-repeat center center / cover;
    right: -4px;
    top: -5px;
    position: absolute;
    width: 16px;
    height: 16px;
    filter: none;
    font-size: 0;
}

.social-icon-external {
    display: inline-block;
    border: 2px solid #a1a1a3;
    border-radius: 15px;
    vertical-align: middle;
    padding: 6px 20px;
    color: #a1a1a3;
    font-weight: bold
}


/* ADMIN */

section {
    padding: 50px 10%
}

section h2 {
    margin-bottom: 20px
}


/* subNavTabs */

.subNavTabs li {
    display: inline-block;
    margin-right: 5px
}

.subNavTabs li a {}


/* breadcrumb */

.breadcrumb>li {
    display: inline-block;
    color: #c6c9d5;
    font-weight: 100
}

.breadcrumb>li a {
    color: #c6c9d5;
    font-weight: 100
}

.breadcrumb>li.active {
    font-weight: bold
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.profil {}

.profil .profil-pict,
.profil .profil-name,
.profil .profil-actions {
    display: inline-block;
    vertical-align: middle;
}

.profil .profil-pict {
    width: 45px;
    margin-right: 0 5px;
    border-radius: 5px;
    overflow: hidden;
}

.profil .profil-pict img {
    width: 100%;
    display: block;
}

.profil .profil-name {
    margin: 0 5px;
}

.profil .profil-actions {
    border-left: 1px solid #c6c9d5;
    padding: 5px 10px;
    margin: 0 5px
}

.profil .profil-actions li {
    display: inline-block;
    margin: 0 5px
}

address {
    background-color: #fafbff;
    border-radius: 10px;
    font-style: normal;
    padding: 30px;
}

address h4 {
    background: url(../img/icon-address.png) no-repeat left center;
    padding-left: 25px;
    margin-bottom: 15px;
}

address p {
    line-height: 27px;
    color: #9ca0ac;
}

.articles {
    margin-bottom: 30px
}

.articles-disabled {
    opacity: 0.6
}

article {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 25px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    position: relative
}

.article-title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.article-title h4 {
    font-size: 18px
}

article:hover {
    box-shadow: 1.871px 8.803px 29px 0px rgba(83, 92, 118, 0.19);
}

article>div {
    align-self: center
}

article .delete {
    position: absolute;
    right: -50px;
    top: 50%;
    margin-top: -20px;
}


/* ARTICLE / Locations */

.articles .wrap-checkbox {
    width: 2%;
}

.articles .wrap-about-loc {
    width: 30%;
    text-align: left;
}

.articles .wrap-address {
    width: 30%
}

.articles .wrap-socials {
    width: 20%;
    text-align: center;
}

.articles .wrap-activation {
    width: 30%;
    padding-left: 40px;
    color: #8fbd55;
    background: url(../img/valid.png) no-repeat left center
}

.articles .wrap-activation h5 {
    font-size: 17px
}


/* ARTICLE / Campaigns */

.articles .campaign-article .wrap-about-loc {
    padding-left: 25px;
    /* background: url(../img/icon-picture.png) no-repeat center left; */
}

.articles .campaign-article img {
    align-self: center;
}

.articles .campaign-article .wrap-about-loc {
    width: 30%;
}

.articles .campaign-article .wrap-socials {
    width: 20%;
}

.articles .campaign-article .wrap-activation {
    width: 20%;
}

.articles .campaign-article .wrap-actions {
    width: 30%;
    text-align: right;
}

.articles .campaign-article h2 {
    margin: 0 0 10px 0;
    padding: 0;
    border: none
}


/**/

.media-article .titleMedia b {
    width: 25px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}

.media-article .titleMedia b img {
    display: block;
    width: 100%;
    vertical-align: middle
}

.media-article .titleMedia span {
    color: #0f70b4
}


/* STRUCTURE */

main {
    padding: 50px 70px 0 150px
}

.frontmain {
    padding: 50px 70px 0 70px
}

.logoLine {
    text-align: center;
    margin-bottom: 30px;
}

.logoLine img {
    width: 200px
}

.mainHidden:before {
    content: '.';
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: -moz-linear-gradient( 90deg, rgb(11, 101, 166) 0%, rgb(24, 134, 212) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(11, 101, 166) 0%, rgb(24, 134, 212) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(11, 101, 166) 0%, rgb(24, 134, 212) 100%);
    width: 80px;
    z-index: 4;
}

nav .logo {
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

nav ul li a {
    display: block;
    height: 70px;
    width: 100%;
    font-size: 0
}

nav ul li.nav-dashboard {
    background: url(../img/nav-dashboard.png) no-repeat center center;
}

nav ul li.nav-location {
    background: url(../img/nav-location.png) no-repeat center center;
}

nav ul li.nav-library {
    background: url(../img/nav-library.png) no-repeat center center;
}

nav ul li.nav-post {
    background: url(../img/nav-post.png) no-repeat center center;
}

nav ul li.nav-inbox {
    background: url(../img/nav-inbox.png) no-repeat center center;
}

nav ul li.nav-reporting {
    background: url(../img/nav-reporting.png) no-repeat center center;
}

nav ul li.nav-settings {
    background: url(../img/nav-settings.png) no-repeat center center;
}

nav ul li.nav-client {
    background: url(../img/nav-client.png) no-repeat center center;
}

nav ul li.nav-status {
    background: url(../img/nav-status.png) no-repeat center center;
}

.expandable {
    position: fixed;
    height: 100vh;
    left: -30%;
    top: 0;
    background-color: #fff;
    z-index: 2;
    width: 30%;
    /*margin-left: -30%;*/
    padding-left: 80px
}

.expandable .logoExp {
    height: 100px;
    border-bottom: 2px solid #f6f7f8;
    padding: 30px 15px;
}

.expandable ul li a {
    color: #3e3e3e;
    font-size: 19px;
    display: block;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: 100;
}

.expandable ul li.active,
.expandable ul li:hover {
    background-color: #f9f9f9;
    position: relative;
}

.expandable ul li.active:after,
.expandable ul li:hover:after {
    content: '.';
    position: absolute;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: #41b9af;
    top: 0;
    z-index: 30;
}

.expandable ul li.active a,
.expandable ul li:hover a {
    font-weight: bold
}

aside:hover .expandable {
    left: 0
}

.blackBg {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    display: none
}

aside nav:hover .blackBg {
    display: block
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #eaebef;
    padding: 10px 70px 10px 150px;
}

header:after {
    content: '.';
    clear: both;
    width: 100%;
    height: 1px;
    display: block;
    font-size: 0;
}

header .breadcrumb {
    float: left;
    margin-top: 13px;
}

header .mobilointernal {
    float: right;
    margin: 0 20px
}

header .mobilointernal a {
    font-size: 12px;
    color: #3e3e3e;
    font-weight: bold!important;
}

header .mobilointernal .btn-group .toggle.active,
header .mobilointernal .btn-group .toggle:hover {
    background-color: #3679b9
}

header .profil {
    float: right;
}

header .profil-wallet {
    float: right;
    border-right: 1px solid #c6c9d5;
    color: #c6c9d5;
    padding: 5px 10px 5px 30px;
    margin: 10px 25px;
    background: url(../img/icon-wallet.png) no-repeat left center;
}

header .profil-wallet a {
    color: #c6c9d5;
}

h1 .sticker.stick-nbr {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.wrapper-title {
    position: relative;
}

.wrapper-title .btns-group {
    top: 0;
    right: 0;
    position: absolute;
}

.wrap-socials li {
    display: inline-block;
}

.wrap-about-loc {}

.wrap-about-loc .sticker {
    display: inline-block;
    margin-right: 5px
}

.wrap-about-loc h5 {
    display: inline-block
}

article h2 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f5f5f5;
}

.wrap-tags li {
    display: inline-block;
    vertical-align: middle;
}

.aside-left {
    float: left;
}

.aside-right {
    float: right;
}

.aside-left .filter-select {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    border-right: 1px solid #ccc;
}

.aside-left .filter-select a {
    color: #3e3e3e
}

.aside-left .wrap-socials {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1%;
    margin-left: -1%;
}

.form .row {
    margin-bottom: 20px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col.disabled {
    opacity: 0.6;
}

.col6 {
    width: 16.6%;
}

.col3 {
    width: 33%;
}

.col2 {
    width: 50%;
}

.colBtn {
    max-width: 80px;
    text-align: right;
}

.row>.col,
.row>[class*=col] {
    padding-right: 1%;
    padding-left: 1%;
    align-self: flex-end;
}

.wrapSubmit {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrap-iframe iframe {
    width: 100%
}

.wrap-iframe {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25Px;
}

p.intro {
    font-style: italic;
    color: #7f7f7f;
    margin: 5px 0;
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px
}

.box-title p.intro {
    margin-bottom: 0
}

select.validoption {
    background: url(../img/valid.png) no-repeat left center;
    padding-left: 40px;
}


/* bulk */

.aside-left .bulk {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    padding: 0 20px;
    position: relative
}

.bulk a {
    color: #3e3e3e
}

.bulk input {
    margin-right: 10px
}

.bulk-box {
    max-width: 300px;
    display: none;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    position: relative
}

.bulk-box.opened {
    display: block;
    position: absolute;
    z-index: 1;
    width: 300px;
    top: -10px;
}

.bulk-box .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
}

.bulk-box .close img {
    display: block;
    width: 100%;
}

.bulk-box .bulk-list a {
    display: block;
    padding: 7px;
    color: #41b9af;
    background: url(../img/arrow-right.png) no-repeat right 20px center
}

.bulk-box .bulk-list a:nth-child(even) {
    background-color: #f9f9f9
}

.bulk-box .bulk-list {
    border: 1px solid #f9f9f9;
    height: 70px;
    margin-top: 10px;
    overflow: scroll;
}


/* gestion des images */

.wrap-pictures {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -1%;
    margin-left: -1%;
}

.wrap-pictures-campaigns {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    margin-bottom: 20px;
}

.pict-box {
    overflow: hidden;
    background-color: #fafbff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin: 1%;
    align-self: flex-end;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    min-width: 31%;
    max-width: 31%;
    position: relative
}

.pict-box-campaigns {
    border-radius: 5px;
    margin: 10px;
    min-width: 225px;
    max-width: 225px;
    height: 225px;
    position: relative;
    overflow: hidden;
}

.add-to-campaign {
    position: absolute;
    top: 15px;
    right: 20px;
}

.delete-campaigns {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/small-delete.png) no-repeat center center;
    padding: 15px;
    border-radius: 50%;
    background-color: #41b9af;
}

.pict-preview {
    width: 50%;
    float: left;
}

.pict-preview img {
    display: block;
    width: 100%;
}

.pict-about {
    width: 50%;
    float: left;
    padding: 4%;
    height: 100%;
    text-align: right;
}

.pict-about .pict-actions {
    position: absolute;
    bottom: 7%;
    right: 2%;
}

.pict-actions a {
    display: inline-block;
    vertical-align: middle
}

.nopict-box {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    border-radius: 5px;
    width: 80%;
    overflow: hidden
}

.nopict-download {
    width: 20%;
    float: left;
    height: 150px;
    background-color: #41b9af;
    text-align: center;
    color: #fff;
}

.nopict-about {
    width: 80%;
    float: left;
    text-align: center;
}

.nopict-about p {
    font-style: italic;
    color: #686868;
    padding-top: 50px;
}

.nopict-download span {
    padding: 30px 10px;
    display: inline-block;
    margin-top: 50px;
    background: url(../img/btn-plus.png) no-repeat center top / 20px;
}

.rating {
    display: inline;
}

.rating a {
    display: inline-block;
    background: url(../img/star.png) no-repeat center center / cover;
    width: 15px;
    height: 15px;
}

.rate {
    display: inline-block;
    padding: 0 20px;
}

.rating a.rated {
    background: url(../img/starActive.png) no-repeat center center / cover;
}

.channels {
    display: inline-block;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0 20px;
}

.qa {
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

.qa .btn-group {
    vertical-align: middle;
}

.qa a {
    color: inherit;
}

.channels strong {
    margin-right: 10px;
}

.qa strong {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.rate strong {
    margin-right: 10px;
}

.date-picker {
    display: inline-block;
    /* border-right: 1px solid #ccc;
    padding: 0 20px;*/
    cursor: pointer;
}

.date-picker span {
    color: #9ca0ac;
}

.date-picker img {
    max-height: 25px;
    margin: 0 15px;
    margin-top: -5px;
    vertical-align: middle;
}

.float-r {
    float: right;
}

.emoji {
    position: absolute;
    top: 35px;
    right: 35px;
    opacity: .6;
}

.chartBox {
    background-color: #fafbff;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
    border-radius: 5px;
    margin: 1% 1% 20px 1%;
    overflow: hidden;
}

.chartBox h4 {
    text-align: center;
    padding: 15px;
    margin: 0;
}

.chartBox .chartLegend {
    padding: 20px;
    font-size: 12px;
}


/*
OLD STARS
.stars b img{ width: 15px}

.rate .stars{ display: inline-block}
.rate strong{ margin-right: 10px }*/

.filters-special {
    margin-bottom: 20px
}


/* inbox */

#inbox {}

#inbox .inbox-actions {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 10px 25px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

#inbox .inbox-actions strong {
    margin-right: 10px
}

#inbox .inbox-aside {
    float: left;
    width: 40%;
    background-color: #fff;
    border-radius: 5px 0 0 5px;
    max-height: 500px;
    overflow-Y: scroll;
}

#inbox .inbox-aside .resume {
    padding: 20px;
    border-bottom: 1px solid #e4e8f0;
}

#inbox .inbox-aside .resume .wrap-btns {
    text-align: right;
    clear: both;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    display: none
}

#inbox .inbox-aside .resume:hover {
    background-color: #f4f6f9
}

#inbox .inbox-aside .resume:hover .wrap-btns {
    display: block
}

#inbox .inbox-main {
    float: left;
    width: 60%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(229, 232, 240);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 21px 0px rgba(83, 92, 118, 0.17);
}

.inbox-main .wrap-tags {
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid rgb(229, 232, 240);
}

.user-profil {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #5a85a9
}

.user-profil.color1 {
    background-color: #eeb24a;
}

.user-profil.color2 {
    background-color: #5a85a9;
}

.user-profil.color3 {
    background-color: #5496c7;
}

.user-profil.color4 {
    background-color: #41b9af;
}

.user-profil-text {}

.resume .user-profil {
    display: inline-block;
    vertical-align: top
}

.resume .user-profil-text {
    display: inline-block;
    vertical-align: top
}

.user-about {
    float: left;
    width: 60%;
}

.user-specials {
    float: right;
    width: 40%;
    text-align: right;
}

.btn-wrapper {
    clear: both;
}

.resume .user-profil-text h4 {
    margin-bottom: 10px
}

.resume .user-profil-text p {
    color: #9ca0ac
}

.user-specials>div {
    margin-bottom: 5px
}

.wrap-comments {
    padding: 20px;
    height: 190px;
    overflow-y: scroll;
}

.wrap-comments .comment {
    display: flex;
    margin-bottom: 20px;
}

.wrap-comments .comment .comment-text {
    flex: 1;
}

.wrap-comments .comment .comment-textarea {
    background-color: #f4f6f9;
    padding: 10px;
    color: #9ca0ac;
    margin-bottom: 10px;
}

.wrap-comments .comment .comment-info {
    font-size: 12px
}

.wrap-reply {
    padding: 20px;
    position: relative;
    height: 250px;
}

.wrap-reply textarea {
    min-height: 150px;
    margin-bottom: 20px;
}

.wrap-reply .btn-group {
    position: absolute;
    top: 0;
    left: 40px;
}

.wrap-reply .wrap-btns {
    text-align: right;
    /*display: flex;*/
    width: 100%;
}

.context-infos {
    padding: 30px;
}

.context-infos p {
    color: #d4d5d9;
    margin-bottom: 10px
}

.context-infos .btn-nav {
    display: block;
    margin-bottom: 10px;
    color: #d4d5d9;
}


/**/

.locations-results {
    max-height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #dddddd
}

.box .box-inside.box-inside-locations {
    padding: 0;
}

.choose-media-format {
    display: flex;
    flex-wrap: wrap;
}

.choose-media-format .box {
    flex: auto;
    position: relative;
    padding: 20px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.832px 3.913px 8px 0px rgba(83, 92, 118, 0.19);
    margin: 7px;
}

.wrap-actions {
    text-align: center
}

.wrap-actions .btn {
    display: inline-block;
    margin: 0 10px;
}

.wrap-actions .checkbox {
    display: inline-block
}

.wrap-actions .checkbox input {
    margin-right: 10px
}

.choose-media-format .box h3 {
    color: #0f70b4;
    font-size: 18px;
    margin-bottom: 10px
}

.choose-media-format .box .icon {
    width: 30px;
    margin-bottom: 0px;
    display: inline-block;
}

.choose-media-format .box .icon img {
    display: block;
    width: 100%
}

.choose-media-format .box .boostType {
    position: absolute;
    right: 10px;
    top: 10px
}

.addition {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px
}

.addition .plusOp {
    max-width: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.addition .total {
    max-width: 150px;
    text-align: center;
    padding-bottom: 20px;
}

.addition .total strong {
    font-size: 25px;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
}

.addition div {
    align-self: flex-end;
    flex: auto;
}

.addition h5 {
    font-size: 18px;
    font-weight: 100;
    color: #3e3e3e;
    margin-bottom: 10px
}

.addition .sumToAdd {
    text-align: center;
}

.addition .icon {
    width: 30px;
    margin-bottom: 0px;
    display: inline-block;
}

.addition .icon img {
    display: block;
    width: 100%
}


/* error page */

.error404 {
    text-align: center
}

.error404 h1 {
    font-size: 160px;
    text-align: center;
    color: #0f70b4;
    opacity: 0.4;
    margin: 0
}

.error404 p {
    font-size: 20px;
    margin-bottom: 30px;
}


/* MOBILE */

@media only screen and (max-width:900px) {
    .expandable {
        width: 50%;
        left: -50%;
    }
    /* locations */
    article .wrap-address {
        display: none
    }
    .form .row {
        display: block;
        margin-bottom: 0
    }
    .col,
    .col3,
    .col2 {
        margin-bottom: 20px;
        width: 100%
    }
    .aside-left,
    .aside-right {
        float: none;
    }
}

@media only screen and (max-width:800px) {
    h1 {
        margin-bottom: 10px
    }
    .wrapper-title {
        margin-bottom: 50px
    }
    .wrapper-title .btns-group {
        position: relative
    }
    main {
        padding: 50px 20px 0 20px
    }
    header {
        padding: 10px 20px 10px 20px
    }
    .expandable {
        display: none;
    }
    nav {
        width: 100%;
        bottom: 0;
        height: auto;
        top: auto
    }
    nav .logo {
        display: none;
    }
    nav ul {
        display: flex;
        width: 100%;
    }
    nav ul li {
        display: block;
        align-self: center;
        width: 20%;
    }
    .pict-box {
        min-width: 48%;
        max-width: 48%
    }
    main {
        margin-bottom: 100px;
    }
    .subNavTabs li {
        width: 100%
    }
    .subNavTabs li a {
        width: 100%;
        padding: 11px 10px;
        text-align: center;
    }
    h2 {
        margin-bottom: 10px;
    }
    .box-title p.intro {
        margin-bottom: 10px
    }
}

@media only screen and (max-width:700px) {
    article {
        display: block;
        text-align: center
    }
    .tag {
        margin: 2px;
    }
    article>div {
        margin-bottom: 20px;
        width: 100%!important;
        text-align: center!important;
    }
    .table tr {
        border: 1px solid #ccc;
    }
    .table td,
    .table th {
        text-align: center!important;
        display: block;
        padding: 10px 10px
    }
    .btn-group.btn-group-full {
        flex-direction: column;
    }
    #inbox .inbox-aside {
        width: 100%;
    }
    #inbox .inbox-main {
        width: 100%;
    }
}

@media only screen and (max-width:650px) {
    header {
        text-align: center;
    }
    header .breadcrumb {
        float: none;
        margin-top: 0;
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
    .profil .profil-pict {
        width: 20px
    }
    header .profil {
        display: inline-block;
        float: none;
    }
    .pict-box {
        min-width: 100%;
        max-width: 100%
    }
    .nopict-box {
        width: 100%
    }
}

.addatag input {
    background: none;
    border: none;
    padding: 0px;
    box-shadow: none;
    font-size: 11px;
}

.addatag div {
    display: flex
}


/* pagination */

.pagination {
    text-align: right;
    margin-bottom: 15px;
}

.pagination p {
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
    color: #9ca0ac
}

.pagination ul {
    display: inline-block;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
    background-color: #fff;
}

.pagination ul li {
    float: left;
    border-right: 1px solid #eee
}

.pagination ul li span {
    display: block;
    padding: 5px 10px;
    text-align: center;
    line-height: 20px
}

.pagination ul li a {
    color: #9ca0ac;
    line-height: 20px
}

.pagination ul li.active a,
.pagination ul li.active span {
    color: #0f70b4;
}

.pagination ul li.prev {
    background-color: #41b9af;
}

.pagination ul li.next {
    background-color: #41b9af;
    border: none
}

.pagination ul li.disabled {
    opacity: 0.7;
}

.pagination ul li.prev,
.pagination ul li.next,
.pagination ul li.prev a,
.pagination ul li.next a {
    color: #fff;
    font-size: 12px;
    line-height: 20px
}

.dropdown {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.dropdown .dropbtn {
    background-color: rgb(143, 138, 138);
    padding: 15px 30px 20px 15px;
    border-width: 1px;
    border-color: rgb(226, 230, 239);
    border-style: solid;
    color: #3e3e3e;
    font-weight: bold;
    border-radius: 5px;
    background: #fff url(../img/select-arrow.png) no-repeat right 10px center / 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 12px
}

.dropdown:hover .dropdown-content {
    display: block;
}

select {
    border: 1px solid #ccc;
    width: 100px;
}


/*popup*/

.popupWrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.27);
    display: none;
    z-index: 1;
}

.popupWrap.visible {
    display: block;
}

.popupWrap .insidePopup {
    background-color: #fff;
    width: 600px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px;
    margin-top: 100px;
    max-height: calc( 100% - 200px);
    overflow-y: scroll;
    position: relative
}

.galleryPopup {
    background-color: #fff;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 50px;
    margin-top: 100px;
    max-height: calc( 100% - 200px);
    overflow: auto;
    position: relative
}

.image-resize {
    max-height: 300px;
}

.popupWrap .insidePopup .closepopup,
.popupWrap .galleryPopup .closepopup {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url(../img/close.svg) no-repeat 0 0 / 100%;
    font-size: 0;
    display: block;
}


/* Post preview */


/* .post-preview * {
    box-sizing: content-box;
}

.post-preview.post-facebook {
    margin: 0 auto;
    max-width: 476px;
}

.post-preview.post-facebook>div:not(.post-channel)>div *:not(.fa) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.post-preview.post-google {
    margin: 0 auto;
    max-width: 406px;
}

.post-preview.post-google>div:not(.post-channel)>div *:not(.fa) {
    font-family: 'Roboto', arial, sans-serif;
}

.post-preview.post-storelocator>div:not(.post-channel)>div *:not(.fa) {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

.post-container {
    border: 1px solid #dddfe2;
    border-radius: 4px;
    color: #1d2129;
    line-height: 1.34;
    background-color: #fff;
}

.post-container .post-channel {
    background-color: #f5f5f5;
    border-radius: 4px;
    border-top: 4px solid #3a589b;
    line-height: 60px;
    padding: 0 12px;
}

.post-google .post-container .post-channel {
    border-color: #e64032;
}

.post-storelocator .post-container .post-channel {
    border-color: #000000;
}

.post-container .post-header {
    padding: 12px 12px 0 12px;
}


/* facebook */

.post-facebook {
    max-width: 450px;
    width: 100%;
}

.post-facebook .post-container .post-header {}

.post-facebook .post-container .post-header .post-avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    border: 1px solid #9ca0ac;
}

.post-facebook .post-container .post-header .post-avatar img {
    display: block;
    width: 100%;
}

.post-facebook .post-container .post-header .post-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}

.post-facebook .post-container .post-header .post-title h5 {
    color: #3d5893;
    font-size: 12px;
}

.post-facebook .post-container .post-header .post-title h6 {
    color: #62676f;
    font-size: 11px;
    font-weight: 100;
}

.post-facebook .post-content .post-text {
    padding: 0 12px 12px 12px;
    font-size: 11px;
}

.post-facebook .post-content .post-text a {
    color: #3d5893;
}

.post-actions {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.post-actions a {
    flex-grow: 1;
    color: #9ca0ac;
    font-size: 11px;
    font-weight: normal;
}

.post-actions a b {
    width: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.post-actions a b img {
    display: block;
    width: 100%;
}

.post-google .post-container .post-header {
    padding: 16px 16px 0 16px;
}


/*  .post-container .post-header .post-avatar a {
    display: block;
    font-size: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    padding-bottom: 3px;
}

.post-container .post-header .post-avatar a:hover,
.post-container .post-header .post-avatar a:focus {
    opacity: 1;
}*/

.post-google .post-container .post-header .post-avatar a,
.post-google .post-container .post-header .post-avatar a:hover,
.post-google .post-container .post-header .post-avatar a:focus {
    cursor: default;
    margin-right: 16px;
    padding-bottom: 0;
}

.post-container .post-header .post-avatar a img {
    border-radius: 50%;
    vertical-align: top;
}

.post-container .post-header .post-location {
    margin: 0 0 2px 0;
}

.post-container .post-header .fa-share-alt {
    color: #757575;
    font-size: 24px;
    line-height: 40px;
    margin-left: 16px;
}

.post-google .post-container .post-header .post-location {
    margin: 0;
}

.post-container .post-header .post-location,
.post-container .post-header .post-location a {
    color: #365899;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.38;
}

.post-container .post-header .post-location a:hover,
.post-container .post-header .post-location a:focus {
    color: #365899;
    opacity: 1;
    text-decoration: underline;
}

.post-google .post-container .post-header .post-location a,
.post-google .post-container .post-header .post-location a:hover,
.post-google .post-container .post-header .post-location a:focus {
    color: #222222;
    cursor: default;
    font-weight: normal;
    line-height: 20px;
    text-decoration: none;
}

.post-container .post-header .post-meta,
.post-container .post-header .post-meta a {
    color: #616770;
    font-size: 12px;
}

.post-container .post-header .post-meta a:hover,
.post-container .post-header .post-meta a:focus {
    color: #365899;
    opacity: 1;
    text-decoration: underline;
}

.post-google .post-container .post-header .post-meta a,
.post-google .post-container .post-header .post-meta a:hover,
.post-google .post-container .post-header .post-meta a:focus {
    color: rgba(0, 0, 0, 0.54);
    cursor: default;
    line-height: 20px;
    text-decoration: none;
}

.post-container .post-content {
    border-bottom: 1px solid #dddfe2;
    margin-top: 6px;
}

.post-google .post-container .post-content {
    border: none;
    margin-top: 10px;
}

.post-container .post-content .pict img {
    display: block;
    width: 100%;
}

.post-container .post-content .pict {
    border-width: 1px 0;
    border-color: #9ca0ac;
}

.post-container .post-content .post-desc {
    color: #1d2129;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.38;
    margin-bottom: 6px;
    padding: 0 12px 0 12px;
}

.post-google .post-container .post-content .post-desc {
    color: rgba(0, 0, 0, 0.54);
    line-height: 24px;
    margin-bottom: 0;
    padding: 16px;
}

.post-container .post-content .post-desc a,
.post-container .post-content .post-desc a:hover,
.post-container .post-content .post-desc a:focus {
    color: #365899;
    opacity: 1;
}

.post-google .post-container .post-content .post-desc a.post-cta {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    color: #ffffff;
    cursor: default;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    margin-top: 16px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}

.post-google .post-container .post-content .post-desc a.post-cta:hover,
.post-google .post-container .post-content .post-desc a.post-cta:focus {
    color: #ffffff;
    cursor: default;
    opacity: 1;
    text-decoration: none;
}

.post-preview.post-storelocator .post-content .post-desc a.post-cta {
    background-color: #000000;
    border-color: #000000;
}

.post-container .post-content .post-img-thumb {
    margin-top: 10px;
}

.post-google .post-container .post-content .post-img-thumb {
    margin: 0;
}

.post-container .post-content .post-img-thumb a {
    display: block;
}

.post-container .post-content .post-img-thumb a:hover,
.post-container .post-content .post-img-thumb a:focus {
    opacity: 1;
}

.post-google .post-container .post-content .post-img-thumb a {
    max-height: 305px;
    overflow: hidden;
}

.post-google .post-container .post-content .post-img-thumb a,
.post-google .post-container .post-content .post-img-thumb a:hover,
.post-google .post-container .post-content .post-img-thumb a:focus {
    cursor: default;
}

.post-google .post-container .post-content .post-title {
    font-size: 24px;
    font-weight: normal;
    line-height: 28px;
    margin: 0;
    padding: 16px 16px 0 16px;
}

.post-google .post-container .post-content .post-title a,
.post-google .post-container .post-content .post-title a:hover,
.post-google .post-container .post-content .post-title a:focus {
    color: #222222;
    cursor: default;
    opacity: 1;
    text-decoration: none;
}

.post-google .post-container .post-content .post-meta {
    font-size: 14px;
    line-height: 24px;
}

.post-google .post-container .post-content .post-meta a,
.post-google .post-container .post-content .post-meta a:hover,
.post-google .post-container .post-content .post-meta a:focus {
    color: rgba(0, 0, 0, 0.54);
    cursor: default;
    opacity: 1;
    text-decoration: none;
}

.post-google .post-container .post-content .post-meta {
    padding: 0 16px 0 16px;
}

.post-container .post-footer {
    flex-direction: row;
    padding: 13px;
}

.post-container .post-footer .post-meta {
    flex: 1 100%;
    text-align: center;
}

.post-container .post-footer .post-meta a {
    color: #616770;
    font-size: 13px;
    font-weight: 600;
    height: 32px;
    line-height: 32px;
}

.post-container .post-footer .post-meta a:hover,
.post-container .post-footer .post-meta a:focus {
    color: #616770;
    opacity: 1;
    text-decoration: none;
}

.post-container .post-footer .post-meta .fa {
    color: #616770;
    font-size: 14px;
    line-height: 32px;
    margin-right: 6px;
}