:root {
    --color-green: #00c9b6;
    --color-lightgreen: #cce7e8;
    --color-brightgreen: #57d314;
    --color-blue: #032e7d;
    --color-blue2: #051fd9;
    --color-blue3: #055cff;
    --color-lightblue: #00b0ff;
    --color-lightblue2: #00def0;
    --color-lightblueopacity: #00aeff4c;
    --color-yellow: #ffd600;
    --color-red: #ff0054;
    --color-orange: #ff9500;
}